doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 #{pageTitle}
        h1 Hola, soy pug, soy como HTML pero todo con identacion en vez de etiquetas
        a(href=webpage) Enlace de prueba con variable 

        p Literal con pug puedes usar for, if etc. HAsta puedes crear un header y footer como componentes e incluirlos aqui 